<template>
	<div
		class="flex w-full items-center justify-center overflow-hidden min-h-screen p-4">
		<div
			v-if="collection"
			class="flex flex-col 2xl:w-8/12 lg:w-10/12 w-full sm:gap-8 gap-4 items-center relative">
			<div class="flex w-full flex-col justify-center box-styling">
				<h1 class="md:text-3xl text-xl font-bold">
					What quotation are you looking for ?
				</h1>
				<div class="grid grid-auto-column-option-box gap-4 md:text-lg text-sm">
					<button
						id="electric"
						@click="quoteType = 'electric'"
						class="flex-1 flex flex-col sm:p-4 p-2 font-semibold gap-4 items-center text-center option-box-styling">
						<img
							src="~/public/electric-meter.png"
							alt="Electric meter"
							class="md:w-[80px] w-[60px] aspect-square" />
						<p>Electric</p>
					</button>
					<button
						id="gas"
						@click="quoteType = 'gas'"
						class="flex-1 flex flex-col sm:p-4 p-2 font-semibold gap-4 items-center text-center option-box-styling">
						<img
							src="~/public/gas-station.png"
							alt="Gas station"
							class="md:w-[80px] w-[60px] aspect-square" />
						<p>Gas</p>
					</button>
					<button
						id="both"
						@click="quoteType = 'both'"
						class="flex-1 flex flex-col sm:p-4 p-2 font-semibold gap-4 items-center text-center option-box-styling">
						<img
							src="~/public/receipt.png"
							alt="Sole Trader"
							class="md:w-[80px] w-[60px] aspect-square" />
						<p>Both</p>
					</button>
				</div>
			</div>
			<div
				v-if="quoteType === 'electric' || quoteType === 'both'"
				class="flex w-full flex-col justify-center box-styling">
				<h1 class="md:text-3xl text-xl font-bold">
					Please enter your MPAN
					<span class="md:text-2xl text-lg"
						>(Meter Point Administration Number)</span
					>:
				</h1>
				<div class="flex lg:flex-row flex-col gap-4">
					<div class="flex basis-7/12 gap-4 items-center">
						<h1 class="md:text-5xl text-4xl font-bold">S</h1>
						<div class="flex w-full flex-col gap-2">
							<div class="flex gap-2">
								<input
									@keyup="clickEvent(null, $event, 'meter-time-switch-code')"
									id="profile-type"
									v-model="mpan.profileType"
									type="number"
									class="w-full font-medium md:text-base text-sm rounded p-3 focus:outline-none input-box-color text-center"
									size="1"
									maxlength="2"
									placeholder="##" />
								<input
									@keyup="
										clickEvent('profile-type', $event, 'line-loss-factor')
									"
									id="meter-time-switch-code"
									v-model="mpan.meterTimeSwitchCode"
									type="number"
									class="w-full font-medium md:text-base text-sm rounded p-3 focus:outline-none input-box-color text-center"
									size="2"
									maxlength="3"
									placeholder="###" />
								<input
									@keyup="
										clickEvent(
											'meter-time-switch-code',
											$event,
											'distributor-id'
										)
									"
									id="line-loss-factor"
									v-model="mpan.lineLossFactor"
									type="text"
									class="w-full font-medium md:text-base text-sm rounded p-3 focus:outline-none input-box-color text-center"
									size="2"
									maxlength="3"
									placeholder="###" />
							</div>
							<div class="flex gap-2">
								<input
									@keyup="
										clickEvent('line-loss-factor', $event, 'unique-number-1')
									"
									id="distributor-id"
									v-model="mpan.distributorId"
									type="number"
									class="w-full font-medium md:text-base text-sm rounded p-3 focus:outline-none input-box-color text-center"
									size="1"
									maxlength="2"
									placeholder="##" />
								<input
									type="number"
									@keyup="
										clickEvent('distributor-id', $event, 'unique-number-2')
									"
									id="unique-number-1"
									v-model="mpan.uniqueNumber1"
									class="w-full font-medium md:text-base text-sm rounded p-3 focus:outline-none input-box-color text-center"
									size="3"
									maxlength="4"
									placeholder="####" />
								<input
									type="number"
									@keyup="clickEvent('unique-number-1', $event, 'check-digit')"
									id="unique-number-2"
									v-model="mpan.uniqueNumber2"
									class="w-full font-medium md:text-base text-sm rounded p-3 focus:outline-none input-box-color text-center"
									size="3"
									maxlength="4"
									placeholder="####" />
								<input
									type="number"
									@keyup="clickEvent('unique-number-2', $event)"
									id="check-digit"
									v-model="mpan.checkDigit"
									class="w-full font-medium md:text-base text-sm rounded p-3 focus:outline-none input-box-color text-center"
									size="2"
									maxlength="3"
									placeholder="###" />
							</div>
						</div>
					</div>

					<div class="flex basis-5/12 flex-col gap-4 justify-center">
						<h2>
							Here's an example of what your MPAN number on your meter or bill
							should look like:
						</h2>
						<img
							src="~/public/mpan-number.png"
							alt="MPAN Guide"
							class="md:w-64 w-48" />
					</div>
				</div>
			</div>
			<div
				v-if="quoteType === 'gas' || quoteType === 'both'"
				class="flex w-full flex-col justify-center box-styling">
				<h1 class="md:text-3xl text-xl font-bold">
					Please enter your MPRN
					<span class="md:text-2xl text-lg"
						>(Meter Point Reference Number)</span
					>
				</h1>
				<div
					@mouseover="initPopovers()"
					data-popover-target="popover-mprn"
					class="relative w-fit">
					<div
						class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
						<i class="ri-book-read-fill"></i>
					</div>
					<input
						type="number"
						v-model="mprn"
						minlength="6"
						maxlength="10"
						class="w-full max-w-md font-medium md:text-base text-sm rounded block pl-10 p-3 focus:outline-none input-box-color"
						:class="{
							'error-style': isNaN(mprn),
						}"
						placeholder="MPR number" />
				</div>
				<div
					data-popover
					id="popover-mprn"
					role="tooltip"
					class="absolute z-[999] invisible inline-block w-64 text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 dark:text-gray-400 dark:border-gray-600 dark:bg-gray-800">
					<div
						class="px-3 py-2 bg-gray-100 border-b border-gray-200 rounded-t-lg dark:border-gray-600 dark:bg-gray-700">
						<h3 class="font-semibold text-gray-900 dark:text-white">
							MPRN help
						</h3>
					</div>
					<div class="px-3 py-2">
						<p>
							Your mprn number should be of minimum 6 and maximum 10 numbers
						</p>
					</div>
					<div data-popper-arrow></div>
				</div>
				<p class="error-msg-style" v-if="isNaN(mprn)">
					*Invalid input, only numbers are allowed
				</p>
			</div>
			<div
				v-if="company && quoteType"
				class="flex w-full flex-col justify-center box-styling">
				<!-- <h1
					v-if="siteAddressToggle && isRegComp"
					class="md:text-3xl text-xl font-bold">
					Is the site address same as company address ?
				</h1> -->
				<h1 class="md:text-3xl text-xl font-bold">Site address</h1>
				<div class="flex gap-4 md:text-base text-sm">
					<div
						v-if="fetching"
						class="flex w-full px-4 py-2 justify-center self-center">
						<svg
							aria-hidden="true"
							class="w-8 h-8 mr-2 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600"
							viewBox="0 0 100 101"
							fill="none"
							xmlns="http://www.w3.org/2000/svg">
							<path
								d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
								fill="currentColor" />
							<path
								d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
								fill="currentFill" />
						</svg>
						<span class="sr-only">Loading...</span>
					</div>
					<div
						v-if="addressToggle && !fetching && siteAddress"
						class="w-full grid grid-auto-column gap-4">
						<div v-if="siteAddress.address_line_1">
							<span class="details-heading">Address line 1: </span>
							<p class="details-body">
								{{ siteAddress.address_line_1 }}
							</p>
						</div>
						<div v-if="siteAddress.address_line_2">
							<span class="details-heading">Address line 2: </span>
							<p class="details-body">
								{{ siteAddress.address_line_2 }}
							</p>
						</div>
						<div v-if="siteAddress.locality">
							<span class="details-heading">Locality: </span>
							<p class="details-body">
								{{ siteAddress.locality }}
							</p>
						</div>
						<div v-if="siteAddress.postal_code">
							<span class="details-heading">Postal code: </span>
							<p class="details-body">
								{{ siteAddress.postal_code }}
							</p>
						</div>
						<div v-if="siteAddress.country">
							<span class="details-heading">Country: </span>
							<p class="details-body">
								{{ siteAddress.country }}
							</p>
						</div>
					</div>
					<div v-else class="flex-1 flex flex-col gap-4">
						<span class="font-semibold">First line of address: </span>
						<AddressDropdown @selected-address="handleSelectedAddress" />
					</div>
				</div>
				<div v-if="!fetching" class="flex gap-4 items-center sm:flex-row">
					<button
						v-if="siteAddressToggle === false && addressToggle === false"
						class="button-style-gray"
						@click="addressToggle = true">
						<p>Cancel</p>
					</button>
					<button
						v-if="addressToggle === true"
						class="button-style-gray"
						@click="siteAddressToggle = addressToggle = false">
						<p>Change</p>
					</button>
				</div>
			</div>
			<div class="flex gap-4">
				<button @click="saveState(PREV_PAGE)" class="button-style-action">
					<i class="ri-arrow-left-circle-fill md:text-2xl text-xl"></i>Back
				</button>
				<button
					v-if="isDataSet()"
					@click="saveState(NEXT_PAGE)"
					class="button-style-action">
					Next<i class="ri-arrow-right-circle-fill md:text-2xl text-xl"></i>
				</button>
				<button
					v-else
					class="button-style-action-disabled"
					@mouseover="initPopovers()"
					data-popover-target="popover-next-1">
					Next<i class="ri-arrow-right-circle-fill md:text-2xl text-xl"></i>
				</button>
				<div
					data-popover
					id="popover-next-1"
					role="tooltip"
					class="absolute z-10 invisible inline-block w-64 text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 dark:text-gray-400 dark:border-gray-600 dark:bg-gray-800">
					<div
						class="px-3 py-2 bg-gray-100 border-b border-gray-200 rounded-t-lg dark:border-gray-600 dark:bg-gray-700">
						<h3 class="font-semibold text-gray-900 dark:text-white">
							Next help
						</h3>
					</div>
					<div class="px-3 py-2">
						<p>You can go onto the next page, once you fill all the data</p>
					</div>
					<div data-popper-arrow></div>
				</div>
			</div>
		</div>
	</div>
</template>

<script setup>
	import { initPopovers } from "flowbite";
	const { getAddressByID } = useMyRealmApp();
	const fetching = ref(false);
	const siteAddressToggle = ref(true);
	const addressToggle = ref(true);
	const PREV_PAGE = ref("/");
	const NEXT_PAGE = ref("/meter");

	const collection = ref(null);
	const isRegComp = ref(null);
	const quoteType = ref(null);
	const company = ref(null);
	const siteAddress = ref(null);
	const mprn = ref(null);
	const error = ref(null);
	const mpan = ref({
		profileType: null,
		meterTimeSwitchCode: null,
		lineLossFactor: null,
		distributorId: null,
		uniqueNumber1: null,
		uniqueNumber2: null,
		checkDigit: null,
	});

	onMounted(() => {
		initPopovers();
	});

	onBeforeMount(() => {
		const temp = localStorage.getItem("collection");

		collection.value = JSON.parse(temp);
		if (collection.value === null) {
			navigateTo("/");
			return;
		}

		if (
			collection.value.selectedCompany !== undefined &&
			collection.value.selectedCompany !== null
		)
			company.value = collection.value.selectedCompany;
		else navigateTo("/");

		if (collection.value.isRegComp !== undefined) {
			isRegComp.value = collection.value.isRegComp;
		}

		if (
			collection.value.quoteType !== undefined &&
			collection.value.quoteType !== null
		)
			quoteType.value = collection.value.quoteType;

		if (collection.value.mpan !== undefined && collection.value.mpan !== null)
			mpan.value = collection.value.mpan;

		if (collection.value.mprn !== undefined && collection.value.mprn !== null)
			mprn.value = collection.value.mprn;

		if (
			collection.value.siteAddress !== undefined &&
			collection.value.siteAddress !== null
		) {
			siteAddress.value = collection.value.siteAddress;
			siteAddressToggle.value = false;
		} else if (isRegComp.value) {
			siteAddress.value = company.value.registered_office_address;
			siteAddressToggle.value = true;
		}
	});

	const handleSelectedAddress = async (data) => {
		fetching.value = true;
		addressToggle.value = true;
		const res = await getAddressByID(data.id);
		if (siteAddress.value === null) siteAddress.value = new Object();
		siteAddress.value.postal_code = res.postcode;
		siteAddress.value.address_line_1 = res.line_1;
		siteAddress.value.address_line_2 = res.line_2;
		siteAddress.value.locality = res.locality;
		siteAddress.value.country = res.country;
		console.log(res);
		fetching.value = false;
		saveState();
	};

	const isMPANset = (data) => {
		let flag = true;

		if (data === null || data === undefined) return false;

		for (const property in data) {
			if (
				data[property] === null ||
				data[property] === undefined ||
				data[property] === ""
			) {
				flag = false;
				break;
			}
		}

		return flag;
	};

	const isDataSet = () => {
		if (quoteType.value === null || quoteType.value === undefined) {
			return false;
		} else {
			switch (quoteType.value) {
				case "electric":
					if (!isMPANset(mpan.value)) return false;
					break;
				case "gas":
					if (
						mprn.value === null ||
						mprn.value === undefined ||
						mprn.value === "" ||
						isNaN(mprn.value) ||
						mprn.value.length < 6
					)
						return false;
					break;
				case "both":
					if (!isMPANset(mpan.value)) {
						return false;
					}
					if (
						mprn.value === null ||
						mprn.value === undefined ||
						mprn.value === "" ||
						isNaN(mprn.value)
					) {
						return false;
					}
					break;
			}
		}

		if (siteAddress.value === null || siteAddress.value === undefined)
			return false;

		return true;
	};

	const saveState = (path) => {
		const temp = localStorage.getItem("collection");
		collection.value = JSON.parse(temp);

		if (collection.value === null) return;

		if (path === NEXT_PAGE.value && !isDataSet()) return;

		collection.value.quoteType = quoteType.value;
		switch (quoteType.value) {
			case "electric":
				collection.value.mpan = mpan.value;
				break;
			case "gas":
				collection.value.mprn = mprn.value;

				break;
			case "both":
				collection.value.mpan = mpan.value;
				collection.value.mprn = mprn.value;
				break;
		}

		collection.value.siteAddress = siteAddress.value;

		const jsonObj = JSON.stringify(collection.value);
		localStorage.setItem("collection", jsonObj);

		if (path) navigateTo(path);
	};

	const clickEvent = (previous, current, next) => {
		const elm = current.target.value;
		if (
			elm.length === current.target.maxLength &&
			current.key !== "ArrowLeft" &&
			current.key !== "Backspace" &&
			next
		) {
			document.getElementById(next).focus();
		}

		if (elm.length === 0 && previous && current.key === "Backspace") {
			console.log(current);
			document.getElementById(previous).focus();
		}
	};

	watch(quoteType, (newVal, oldVal) => {
		const electric = document.getElementById("electric");
		const gas = document.getElementById("gas");
		const both = document.getElementById("both");

		if (newVal === "electric") {
			electric.classList.add("dark:bg-blue-600");
			electric.classList.add("bg-blue-600");
			electric.classList.add("text-white");

			gas.classList.remove("dark:bg-blue-600");
			gas.classList.remove("bg-blue-600");
			gas.classList.remove("text-white");

			both.classList.remove("dark:bg-blue-600");
			both.classList.remove("bg-blue-600");
			both.classList.remove("text-white");
		} else if (newVal === "gas") {
			gas.classList.add("dark:bg-blue-600");
			gas.classList.add("bg-blue-600");
			gas.classList.add("text-white");

			electric.classList.remove("dark:bg-blue-600");
			electric.classList.remove("bg-blue-600");
			electric.classList.remove("text-white");

			both.classList.remove("dark:bg-blue-600");
			both.classList.remove("bg-blue-600");
			both.classList.remove("text-white");
		} else if (newVal === "both") {
			both.classList.add("dark:bg-blue-600");
			both.classList.add("bg-blue-600");
			both.classList.add("text-white");

			electric.classList.remove("dark:bg-blue-600");
			electric.classList.remove("bg-blue-600");
			electric.classList.remove("text-white");

			gas.classList.remove("dark:bg-blue-600");
			gas.classList.remove("bg-blue-600");
			gas.classList.remove("text-white");
		}

		// saveState();
	});
</script>

<style scoped>
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	/* Firefox */
	input[type="number"] {
		-moz-appearance: textfield;
	}
</style>
