<template>
	<div
		v-if="!loading"
		class="flex w-full items-center justify-center overflow-hidden min-h-screen p-4">
		<div
			class="flex flex-col 2xl:w-8/12 lg:w-10/12 w-full sm:gap-8 gap-4 items-center relative">
			<div class="flex w-full flex-col justify-center box-styling">
				<h1 class="md:text-3xl text-xl font-bold">
					Are you a Registered Business or a Sole Trader ?
				</h1>
				<div class="grid grid-auto-column-option-box gap-4 md:text-lg text-sm">
					<button
						id="registeredCompany"
						@click="handleRegisteredCompany()"
						class="flex-1 flex flex-col sm:p-4 p-2 font-semibold gap-4 items-center text-center option-box-styling">
						<img
							src="~/public/enterprise.png"
							alt="Sole Trader"
							class="md:w-[80px] w-[60px]" />
						<p>Registered business</p>
					</button>
					<button
						id="soleTrader"
						@click="handleSoleTrader()"
						class="flex-1 flex flex-col sm:p-4 p-2 font-semibold gap-4 items-center text-center option-box-styling">
						<img
							src="~/public/trader.png"
							alt="Sole Trader"
							class="md:w-[80px] w-[60px]" />
						<p>Sole trader</p>
					</button>
				</div>
			</div>
			<div
				v-if="isRegComp !== null"
				class="flex w-full flex-col justify-center box-styling">
				<h1 class="md:text-3xl text-xl font-bold">
					Please enter the name of your business
				</h1>
				<div class="flex gap-4 md:text-lg text-sm">
					<CompanyDropdown
						v-if="isRegComp === true"
						@selected-company="handleSelectedCompany" />
					<input
						v-else
						type="text"
						v-model="company"
						class="w-full max-w-lg font-medium md:text-base text-sm rounded block p-3 focus:outline-none input-box-color"
						placeholder="Business name" />
				</div>
			</div>
			<div
				v-if="selectedOwner === null && company"
				class="flex w-full flex-col justify-center box-styling">
				<h1 class="md:text-3xl text-xl font-bold">Business owner</h1>
				<div
					v-if="
						!isCustomOwner &&
						isRegComp &&
						companyOwners !== null &&
						companyOwners.length !== 0
					"
					class="flex flex-wrap gap-8 sm:text-base text-sm">
					<div
						@click="clickedOwner(item)"
						v-for="(item, index) in companyOwners"
						:key="item.id"
						class="flex gap-2">
						<input
							:id="`item-${index}`"
							type="radio"
							:value="index"
							class="self-start rounded scale-105"
							name="owner" />
						<label
							:for="`item-${index}`"
							class="hover:bg-slate-200 hover:dark:bg-gray-400/10 rounded p-2">
							<div class="flex gap-2" v-if="item.name">
								<h1 class="details-heading">Fullname:</h1>
								<p class="details-body">
									{{ item.name }}
								</p>
							</div>
							<div v-if="item.address">
								<div class="flex gap-2" v-if="item.address.address_line_1">
									<span class="details-heading">Address line 1: </span>
									<p class="details-body">
										{{ item.address.address_line_1 }}
									</p>
								</div>
								<div class="flex gap-2" v-if="item.address.address_line_2">
									<span class="details-heading">Address line 2: </span>
									<p class="details-body">
										{{ item.address.address_line_2 }}
									</p>
								</div>
								<div class="flex gap-2" v-if="item.address.locality">
									<span class="details-heading">Locality: </span>
									<p class="details-body">
										{{ item.address.locality }}
									</p>
								</div>
								<div class="flex gap-2" v-if="item.address.region">
									<span class="details-heading">Region: </span>
									<p class="details-body">
										{{ item.address.region }}
									</p>
								</div>
								<div class="flex gap-2" v-if="item.address.postal_code">
									<span class="details-heading">Postal code: </span>
									<p class="details-body">
										{{ item.address.postal_code }}
									</p>
								</div>
								<div class="flex gap-2" v-if="item.address.country">
									<span class="details-heading">Country: </span>
									<p class="details-body">
										{{ item.address.country }}
									</p>
								</div>
							</div>
							<div class="flex gap-2" v-if="item.date_of_birth">
								<h1 class="details-heading">Date of birth:</h1>
								<p class="details-body">
									{{ item.date_of_birth.month }}/{{ item.date_of_birth.year }}
								</p>
							</div>
						</label>
					</div>
					<div @click="isCustomOwner = true" class="flex gap-2">
						<input
							id="item-others"
							type="radio"
							class="self-start rounded scale-105"
							name="owner" />
						<label
							for="item-others"
							class="hover:bg-slate-200 h-fit hover:dark:bg-gray-400/10 rounded p-2"
							>Others</label
						>
					</div>
				</div>
				<div v-else class="flex flex-col gap-4">
					<div class="w-full flex flex-wrap gap-4">
						<div class="w-full grid grid-auto-column gap-4">
							<div class="flex flex-col gap-2 font-medium">
								<label class="font-semibold" for="first-name"
									>First name:</label
								>
								<div class="relative">
									<div
										class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
										<i class="ri-input-method-fill"></i>
									</div>
									<input
										name="first-name"
										v-model="customOwner.firstName"
										type="text"
										class="w-full max-w-md font-medium md:text-base text-sm rounded block pl-10 p-3 focus:outline-none input-box-color"
										placeholder="First name" />
								</div>
							</div>
							<div class="flex flex-col gap-2 font-medium">
								<label class="font-semibold" for="last-name">Last name:</label>
								<div class="relative">
									<div
										class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
										<i class="ri-input-method-fill"></i>
									</div>
									<input
										v-model="customOwner.lastName"
										name="last-name"
										type="text"
										class="w-full max-w-md font-medium md:text-base text-sm rounded block pl-10 p-3 focus:outline-none input-box-color"
										placeholder="Last name" />
								</div>
							</div>
						</div>

						<div class="w-full flex flex-col gap-2 font-medium">
							<span class="font-semibold">First line of address: </span>
							<AddressDropdown @selected-address="handleOwnerSelectedAddress" />
						</div>
					</div>
					<div class="flex gap-4">
						<button
							v-if="isCustomOwnerSet() === true"
							class="button-style"
							@click="addCustomOwner()">
							Done
						</button>
						<button
							v-else
							class="button-style-disabled !cursor-not-allowed"
							disabled>
							Done
						</button>
						<button
							v-if="isRegComp"
							class="button-style-gray"
							@click="isCustomOwner = false">
							Cancel
						</button>
						<button
							v-else-if="!isRegComp && collection && collection.selectedOwner"
							class="button-style-gray"
							@click="selectedOwner = collection.selectedOwner">
							Cancel
						</button>
					</div>
				</div>
			</div>
			<div
				v-if="selectedOwner && company"
				class="flex w-full flex-col justify-center box-styling">
				<h1 class="md:text-3xl text-xl font-bold">Business owner</h1>
				<div class="w-full grid grid-auto-column gap-4">
					<div v-if="selectedOwner.name">
						<span class="details-heading">Fullname</span>
						<p class="details-body">
							{{ selectedOwner.name }}
						</p>
					</div>
					<div v-if="selectedOwner.address.address_line_1">
						<span class="details-heading">Address line 1: </span>
						<p class="details-body">
							{{ selectedOwner.address.address_line_1 }}
						</p>
					</div>
					<div v-if="selectedOwner.address.address_line_2">
						<span class="details-heading">Address line 2: </span>
						<p class="details-body">
							{{ selectedOwner.address.address_line_2 }}
						</p>
					</div>
					<div v-if="selectedOwner.address.locality">
						<span class="details-heading">Locality: </span>
						<p class="details-body">
							{{ selectedOwner.address.locality }}
						</p>
					</div>
					<div v-if="selectedOwner.address.region">
						<span class="details-heading">Region: </span>
						<p class="details-body">
							{{ selectedOwner.address.region }}
						</p>
					</div>
					<div v-if="selectedOwner.address.postal_code">
						<span class="details-heading">Postal code: </span>
						<p class="details-body">
							{{ selectedOwner.address.postal_code }}
						</p>
					</div>
					<div v-if="selectedOwner.address.country">
						<span class="details-heading">Country: </span>
						<p class="details-body">
							{{ selectedOwner.address.country }}
						</p>
					</div>
					<div v-if="selectedOwner.date_of_birth">
						<span class="details-heading">Date of birth: </span>
						<p class="details-body">
							{{ selectedOwner.date_of_birth.month }} /
							{{ selectedOwner.date_of_birth.year }}
						</p>
					</div>
				</div>
				<div class="flex flex-col gap-2 font-medium w-full">
					<button
						class="button-style-gray w-fit flex gap-2 items-center"
						@click="selectedOwner = null">
						<i class="ri-close-circle-line"></i>
						Reset owner
					</button>
				</div>
			</div>
			<div class="flex gap-8">
				<button
					v-if="isDataSet()"
					@click="saveState('/details')"
					class="button-style-action">
					Next<i class="ri-arrow-right-circle-fill md:text-2xl text-xl"></i>
				</button>
				<button
					v-else
					class="button-style-action-disabled"
					@mouseover="initPopovers()"
					data-popover-target="popover-next-1">
					Next<i class="ri-arrow-right-circle-fill md:text-2xl text-xl"></i>
				</button>
				<div
					data-popover
					id="popover-next-1"
					role="tooltip"
					class="absolute z-10 invisible inline-block w-64 text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 dark:text-gray-400 dark:border-gray-600 dark:bg-gray-800">
					<div
						class="px-3 py-2 bg-gray-100 border-b border-gray-200 rounded-t-lg dark:border-gray-600 dark:bg-gray-700">
						<h3 class="font-semibold text-gray-900 dark:text-white">
							Next help
						</h3>
					</div>
					<div class="px-3 py-2">
						<p>You can go onto the next page, once you fill all the data</p>
					</div>
					<div data-popper-arrow></div>
				</div>
			</div>
		</div>
	</div>
</template>

<script setup>
	import { initPopovers } from "flowbite";

	const { getAddressByID } = useMyRealmApp();
	const collection = ref(null);
	const loading = ref(true);
	const isDarkMode = ref(false);

	const isRegComp = ref(null);
	const isCustomOwner = ref(false);
	const company = ref(null);
	const companyOwners = ref(null);
	const selectedOwner = ref(null);
	const customOwner = ref({
		firstName: null,
		lastName: null,
		name: null,
		address: null,
	});

	const error = ref({ code: "", msg: "" });

	onBeforeMount(() => {
		const temp = localStorage.getItem("collection");
		if (localStorage.getItem("color-theme") === "dark") isDarkMode.value = true;

		collection.value = JSON.parse(temp);
		if (
			collection.value === null ||
			collection.value.formStatus === "submitted"
		) {
			collection.value = new Object();
			collection.value.formStatus = "pending";
			loading.value = false;
			const jsonObj = JSON.stringify(collection.value);
			localStorage.setItem("collection", jsonObj);
			return;
		}

		if (
			collection.value.selectedCompany !== undefined &&
			collection.value.selectedCompany !== null
		) {
			company.value = collection.value.selectedCompany;
		}

		if (
			collection.value.isRegComp !== undefined &&
			collection.value.isRegComp !== null
		) {
			isRegComp.value = collection.value.isRegComp;
		}

		if (
			collection.value.companyOwners !== undefined &&
			collection.value.companyOwners !== null
		) {
			companyOwners.value = collection.value.companyOwners;
		}

		if (
			collection.value.selectedOwner !== undefined &&
			collection.value.selectedOwner !== null
		) {
			selectedOwner.value = collection.value.selectedOwner;
		}

		loading.value = false;
	});

	const handleRegisteredCompany = () => {
		if (isRegComp.value === true) return;

		isRegComp.value = true;
		resetType();
	};

	const handleSoleTrader = () => {
		if (isRegComp.value === false) return;

		isRegComp.value = false;
		resetType();
	};

	watch(isRegComp, (newVal, oldVal) => {
		const element1 = document.getElementById("registeredCompany");
		const element2 = document.getElementById("soleTrader");
		if (newVal === true) {
			element1.classList.add("dark:bg-blue-600");
			element1.classList.add("bg-blue-600");
			element1.classList.add("text-white");
			element2.classList.remove("dark:bg-blue-600");
			element2.classList.remove("bg-blue-600");
			element2.classList.remove("text-white");
		} else {
			element2.classList.add("dark:bg-blue-600");
			element2.classList.add("bg-blue-600");
			element2.classList.add("text-white");
			element1.classList.remove("dark:bg-blue-600");
			element1.classList.remove("bg-blue-600");
			element1.classList.remove("text-white");
		}
	});

	const resetType = () => {
		company.value = null;
		// if (collection.value === null) return;

		collection.value.companyName = null;
		collection.value.selectedCompany = null;
		collection.value.companyArray = null;
		collection.value.topHit = null;
		collection.value.companyOwners = null;
		collection.value.siteAddress = null;
		const jsonObj = JSON.stringify(collection.value);
		localStorage.setItem("collection", jsonObj);
		// saveState();
	};

	const handleSelectedCompany = (data, owners) => {
		company.value = data;
		selectedOwner.value = null;
		companyOwners.value = owners;

		let temp = localStorage.getItem("collection");
		collection.value = JSON.parse(temp);
		collection.value.siteAddress = null;
		const jsonObj = JSON.stringify(collection.value);
		localStorage.setItem("collection", jsonObj);
		console.log(isDarkMode.value);
		saveState();
	};

	const handleOwnerSelectedAddress = async (data) => {
		const res = await getAddressByID(data.id);
		customOwner.value.address = new Object();
		customOwner.value.address.postal_code = res.postcode;
		customOwner.value.address.address_line_1 = res.line_1;
		customOwner.value.address.address_line_2 = res.line_2;
		customOwner.value.address.locality = res.locality;
		customOwner.value.address.country = res.country;
		// customOwner.value.address = data;
	};

	const clickedOwner = (item) => {
		if (selectedOwner.value === null || selectedOwner.value === undefined) {
			selectedOwner.value = new Object();
		}
		console.log(item);
		selectedOwner.value.name = item.name;
		selectedOwner.value.address = item.address;
		selectedOwner.value.date_of_birth = item.date_of_birth;

		saveState();
	};

	const isCustomOwnerSet = () => {
		let flag = true;

		if (
			customOwner.value.firstName === null ||
			customOwner.value.firstName === undefined
		)
			flag = false;
		else if (
			customOwner.value.lastName === null ||
			customOwner.value.lastName === undefined
		)
			flag = false;
		else if (
			customOwner.value.address === null ||
			customOwner.value.address === undefined
		)
			flag = false;

		return flag;
	};

	const addCustomOwner = () => {
		if (selectedOwner.value === null || selectedOwner.value === undefined) {
			selectedOwner.value = new Object();
		}
		selectedOwner.value.name =
			customOwner.value.firstName + " " + customOwner.value.lastName;
		selectedOwner.value.address = customOwner.value.address;

		saveState();
	};

	const isDataSet = () => {
		let flag = true;

		if (isRegComp.value === undefined || isRegComp.value === null) flag = false;
		else if (company.value === undefined || company.value === null)
			flag = false;
		else if (selectedOwner.value === undefined || selectedOwner.value === null)
			flag = false;

		return flag;
	};

	const saveState = (path) => {
		const temp = localStorage.getItem("collection");
		collection.value = JSON.parse(temp);

		if (collection.value === null) {
			collection.value = new Object();
		}

		if (company.value === null) return;

		collection.value.isRegComp = isRegComp.value;
		collection.value.selectedOwner = selectedOwner.value;
		collection.value.selectedCompany = company.value;

		const jsonObj = JSON.stringify(collection.value);
		localStorage.setItem("collection", jsonObj);

		if (path) navigateTo(path);
	};
</script>
