<template>
	<div
		class="flex w-full items-center justify-center overflow-hidden min-h-screen p-4">
		<div
			v-if="collection"
			class="flex flex-col 2xl:w-8/12 lg:w-10/12 w-full sm:gap-8 gap-4 items-center relative">
			<div class="flex w-full flex-col justify-center box-styling">
				<h1 class="md:text-2xl textxl font-bold">Details</h1>
				<div class="flex flex-col gap-4">
					<div class="grid md:grid-cols-2 gap-4">
						<div class="w-full flex flex-col gap-2 font-medium">
							<label for="email" class="font-semibold">Email:</label>
							<div class="relative">
								<div
									class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
									<i class="ri-mail-fill"></i>
								</div>
								<input
									@keypress="error.code = null"
									name="email"
									type="email"
									v-model="email"
									class="w-full max-w-md font-medium md:text-base text-sm rounded block pl-10 p-3 focus:outline-none input-box-color"
									placeholder="example@domain.com"
									:class="{
										'error-style': error.code === ERROR_INVALID_EMAIL,
									}" />
							</div>
							<p
								class="error-msg-style"
								v-if="error.code === ERROR_INVALID_EMAIL">
								{{ error.msg }}
							</p>
						</div>
						<div class="w-full flex flex-col gap-2 font-medium">
							<label for="email" class="font-semibold">Phone:</label>
							<div class="relative">
								<div
									class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
									<i class="ri-phone-fill"></i>
								</div>
								<input
									@keypress="error.code = null"
									name="phone"
									type="tel"
									maxlength="11"
									v-model="phone"
									class="w-full max-w-md font-medium md:text-base text-sm rounded block pl-10 p-3 focus:outline-none input-box-color"
									:class="{
										'error-style':
											error.code === ERROR_INVALID_PHONE || isNaN(phone),
									}"
									placeholder="1234567890" />
							</div>
							<p
								class="error-msg-style"
								v-if="error.code === ERROR_INVALID_PHONE || isNaN(phone)">
								*Invalid phone number
							</p>
						</div>
						<div class="w-full flex flex-col gap-2 font-medium">
							<label for="start-date" class="font-semibold">Start date:</label>
							<div class="relative w-fit flex gap-2 items-center">
								<VueDatePicker
									v-if="startDate !== true"
									v-model="startDate"
									auto-apply
									:format="`dd/MM/yyyy`"
									:min-date="new Date()"
									:dark="isDarkMode"
									:enable-time-picker="false"
									placeholder="Select date" />
								<label
									for="asap-checkbox"
									id="asap-checkbox-box"
									class="flex gap-2 option-box-styling h-full items-center">
									<input
										id="asap-checkbox"
										name="asap-checkbox"
										class="w-4"
										v-model="startDate"
										type="checkbox" />
									<p>ASAP</p>
								</label>
							</div>
							<p
								class="error-msg-style"
								v-if="error.code === ERROR_INVALID_DATE">
								{{ error.msg }}
							</p>
						</div>
					</div>
				</div>
			</div>
			<AverageConsumption
				@reload-collection="reloadCollection"
				v-if="quoteType === 'electric' || quoteType === 'both'"
				:field="`electric`" />
			<AverageConsumption
				@reload-collection="reloadCollection"
				v-if="quoteType === 'gas' || quoteType === 'both'"
				:field="`gas`" />

			<div class="flex gap-4">
				<button @click="saveState('/details')" class="button-style-action">
					<i class="ri-arrow-left-circle-fill md:text-2xl text-xl"></i>Back
				</button>
				<button
					v-if="isCollectionSet()"
					@click="submitForm()"
					class="button-style">
					Submit
				</button>
				<button
					v-else
					@mouseover="initPopovers()"
					data-popover-target="popover-submit"
					class="button-style-disabled !cursor-not-allowed">
					Submit
				</button>
				<div
					data-popover
					id="popover-submit"
					role="tooltip"
					class="absolute z-10 invisible inline-block w-64 text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 dark:text-gray-400 dark:border-gray-600 dark:bg-gray-800">
					<div
						class="px-3 py-2 bg-gray-100 border-b border-gray-200 rounded-t-lg dark:border-gray-600 dark:bg-gray-700">
						<h3 class="font-semibold text-gray-900 dark:text-white">
							Submit help
						</h3>
					</div>
					<div class="px-3 py-2">
						<p>You can only submit, once you fill all the data</p>
					</div>
					<div data-popper-arrow></div>
				</div>
			</div>
		</div>
	</div>
</template>

<script setup>
	import { initPopovers } from "flowbite";
	import VueDatePicker from "@vuepic/vue-datepicker";

	const { currentUser } = useMyRealmApp();
	const isDarkMode = ref(false);
	const ERROR_INVALID_EMAIL = ref(101);
	const ERROR_INVALID_PHONE = ref(102);
	const ERROR_INVALID_DATE = ref(103);
	const collection = ref(null);
	const quoteType = ref(null);
	const email = ref(null);
	const phone = ref(null);
	const startDate = ref(null);
	const error = ref({ code: "", msg: "" });

	onBeforeMount(() => {
		const temp = localStorage.getItem("collection");

		collection.value = JSON.parse(temp);
		if (localStorage.getItem("color-theme") === "dark") isDarkMode.value = true;
		if (collection.value === null) {
			navigateTo("/");
			return;
		}

		if (
			collection.value.quoteType !== undefined &&
			collection.value.quoteType !== null
		)
			quoteType.value = collection.value.quoteType;
		else {
			navigateTo("/details");
		}

		if (collection.value.email !== undefined && collection.value.email !== null)
			email.value = collection.value.email;

		if (collection.value.phone !== undefined && collection.value.phone !== null)
			phone.value = collection.value.phone;

		if (
			collection.value.startDate !== undefined &&
			collection.value.startDate !== null
		)
			startDate.value = collection.value.startDate;
	});

	const saveState = (path) => {
		const temp = localStorage.getItem("collection");
		collection.value = JSON.parse(temp);

		if (collection.value === null) return;

		if (email.value) {
			if (!validateEmail(email.value)) {
				error.value.code = ERROR_INVALID_EMAIL.value;
				error.value.msg = "*Invalid email";

				return;
			}
			collection.value.email = email.value;
		}

		if (phone.value) {
			if (!validatePhone(phone.value)) {
				error.value.code = ERROR_INVALID_PHONE.value;
				error.value.msg = "*Invalid phone number";
				return;
			}
			collection.value.phone = phone.value;
		}

		if (startDate.value !== null) {
			if (!validateDate(startDate.value)) {
				error.value.code = ERROR_INVALID_DATE.value;
				error.value.msg = "*Invalid date";
				return;
			}
			collection.value.startDate = startDate.value;
		}

		error.value.code = null;
		error.value.msg = null;

		const jsonObj = JSON.stringify(collection.value);
		localStorage.setItem("collection", jsonObj);

		if (path) navigateTo(path);
	};

	const asapDateHandle = () => {
		const element = document.getElementById("asap-checkbox-box");

		if (startDate.value === true) {
			element.classList.add("dark:bg-blue-600");
			element.classList.add("bg-blue-600");
			element.classList.add("text-white");
		} else {
			element.classList.remove("dark:bg-blue-600");
			element.classList.remove("bg-blue-600");
			element.classList.remove("text-white");
		}
	};

	const validateEmail = (inputText) => {
		if (inputText === null) return;
		const mailFormat = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
		if (inputText.match(mailFormat)) {
			return true;
		} else {
			return false;
		}
	};

	const validatePhone = (inputNumber) => {
		if (inputNumber === null) return;
		const numberFormat =
			/^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/;
		if (inputNumber.match(numberFormat)) {
			return true;
		} else {
			return false;
		}
	};

	const validateDate = (inputDate) => {
		if (inputDate === null) return false;

		if (inputDate === true) return true;

		let date1 = new Date();
		let date2 = new Date(inputDate);

		if (date2 > date1) return true;

		return false;
	};

	const isCollectionSet = () => {
		let flag = true;

		if (collection.value === null) return false;
		else if (
			email.value === null ||
			email.value === undefined ||
			email.value === ""
		)
			flag = false;
		else if (
			phone.value === null ||
			phone.value === undefined ||
			phone.value === ""
		)
			flag = false;
		else if (
			startDate.value === null ||
			startDate.value === undefined ||
			startDate.value === "" ||
			startDate.value === false
		)
			flag = false;
		else {
			switch (quoteType.value) {
				case "electric":
					if (!isElectricFieldsSet()) flag = false;
					break;
				case "gas":
					if (!isGasFieldsSet()) flag = false;
					break;
				case "both":
					if (!isElectricFieldsSet()) flag = false;
					else if (!isGasFieldsSet()) flag = false;
			}
		}

		return flag;
	};

	const isElectricFieldsSet = () => {
		let flag = true;

		if (collection.value.mpan === null || collection.value.mpan === undefined)
			flag = false;
		else if (
			collection.value.electricAnnualConsumption === null ||
			collection.value.electricAnnualConsumption === undefined ||
			collection.value.electricAnnualConsumption === "" ||
			Number(collection.value.electricAnnualConsumption) === 0 ||
			isNaN(collection.value.electricAnnualConsumption)
		) {
			flag = false;
		}

		return flag;
	};

	const isGasFieldsSet = () => {
		let flag = true;

		if (
			collection.value.mprn === null ||
			collection.value.mprn === undefined ||
			Number(collection.value.mprn) === 0 ||
			collection.value.mprn === "" ||
			isNaN(collection.value.mprn)
		)
			flag = false;
		else if (
			collection.value.gasAnnualConsumption === null ||
			collection.value.gasAnnualConsumption === undefined ||
			Number(collection.value.gasAnnualConsumption) === 0 ||
			collection.value.gasAnnualConsumption === "" ||
			isNaN(collection.value.gasAnnualConsumption)
		) {
			flag = false;
		}

		return flag;
	};

	const reloadCollection = (data) => {
		collection.value = data;
		const jsonObj = JSON.stringify(collection.value);
		localStorage.setItem("collection", jsonObj);
		// saveState();
	};
	watch(startDate, (newVal, oldVal) => {
		if (newVal === false) startDate.value = null;
		asapDateHandle(newVal);
	});

	const submitForm = async () => {
		// @TODO: check if all the values are set
		if (!validateEmail(email.value)) {
			error.value.code = ERROR_INVALID_EMAIL.value;
			error.value.msg = "*Invalid email";
			return;
		} else if (!validatePhone(phone.value)) {
			error.value.code = ERROR_INVALID_PHONE.value;
			error.value.msg = "*Invalid phone number";
			return;
		} else if (!validateDate(startDate.value)) {
			error.value.code = ERROR_INVALID_DATE.value;
			error.value.msg = "*Invalid date";
			console.log("date error", startDate.value);
			return;
		}
		saveState();

		let temp = {};

		temp.is_registered_company = collection.value.isRegComp;
		temp.company = collection.value.selectedCompany;
		temp.owner = collection.value.selectedOwner;
		temp.quote_type = collection.value.quoteType;
		temp.site_address = collection.value.siteAddress;
		temp.email = email.value;
		temp.phone = phone.value;

		if (startDate.value !== true) {
			let tempDate = startDate.value;
			let month = tempDate.getMonth() + 1;
			let date = tempDate.getDate();
			let year = tempDate.getFullYear();

			temp.start_date = [month, date, year].join("-");
		} else {
			temp.start_date = "asap";
		}

		console.log(temp.start_date);

		switch (collection.value.quoteType) {
			case "electric":
				temp.mpan = collection.value.mpan;
				temp.electric_annual_consumption =
					collection.value.electricAnnualConsumption;
				break;
			case "gas":
				temp.mprn = collection.value.mprn;
				temp.gas_annual_consumption = collection.value.gasAnnualConsumption;
				break;
			case "both":
				temp.mpan = collection.value.mpan;
				temp.mprn = collection.value.mprn;
				temp.electric_annual_consumption =
					collection.value.electricAnnualConsumption;
				temp.gas_annual_consumption = collection.value.gasAnnualConsumption;
		}

		await currentUser.callFunction("submitForm", temp).then((result) => {
			if (result) {
				collection.value.formStatus = "submitted";
				const jsonObj = JSON.stringify(collection.value);
				localStorage.setItem("collection", jsonObj);
				// localStorage.removeItem("collection");
				currentUser.logOut();
				navigateTo("/submitted");
			}
		});
	};
</script>

<style lang="scss" scoped></style>
