<template>
	<div
		v-if="!loading"
		class="flex h-screen flex-col justify-center items-center lg:gap-10 gap-8 lg:p-8 p-4">
		<div class="flex flex-col items-center lg:gap-8 gap-4">
			<div class="flex flex-col items-center gap-4">
				<img
					src="~/public/done.png"
					alt="Done"
					class="flex-1 lg:w-40 lg:h-40 w-16 h-16" />
				<h1
					class="text-3xl font-extrabold text-gray-900 text-center dark:text-white md:text-4xl lg:text-5xl">
					Thank you,
					<span
						class="text-transparent bg-clip-text bg-gradient-to-r to-emerald-400 from-sky-500"
						>Your response has been submitted.</span
					>
				</h1>
			</div>
		</div>
		<h2 class="lg:text-2xl text-xl text-center font-medium">
			Please register with a password to be able to login and view the status
		</h2>
		<div class="flex lg:flex-row flex-col gap-4 self-center pt-2">
			<div class="flex flex-col sm:w-fit w-full items-start gap-2">
				<label for="register-email" class="font-semibold">Your email</label>
				<input
					id="register-email"
					v-model="email"
					type="text"
					class="input-box-color rounded p-3 !cursor-not-allowed w-full"
					disabled />
			</div>
			<div class="flex flex-col sm:w-fit w-full items-start gap-2">
				<label for="register-password" class="font-semibold"
					>Your password</label
				>
				<input
					@change="error = false"
					data-popover-target="popover-register-password"
					id="register-password"
					v-model="password"
					type="password"
					class="input-box-color rounded p-3 w-full" />
				<p v-if="error" class="text-red-600">* {{ errorMsg }}</p>
			</div>
			<div
				data-popover
				id="popover-register-password"
				role="tooltip"
				class="absolute z-10 invisible inline-block w-fit text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 dark:text-gray-400 dark:border-gray-600 dark:bg-gray-800">
				<div
					class="px-3 py-2 bg-gray-100 border-b border-gray-200 rounded-t-lg dark:border-gray-600 dark:bg-gray-700">
					<h3 class="font-semibold text-gray-900 dark:text-white">
						Password requirements
					</h3>
				</div>
				<div class="px-3 py-2">
					<ul
						class="max-w-md space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400">
						<li>At least 10 characters (and up to 100 characters)</li>
						<li>At least one lowercase character</li>
						<li>At least one special character, e.g., ! @ # ?</li>
					</ul>
				</div>
				<div data-popper-arrow></div>
			</div>

			<!-- <div>
				<h2 class="text-lg font-semibold text-gray-900 dark:text-white">
					Password requirements:
				</h2>
				
			</div> -->
		</div>
		<NuxtLink to="/login">
			<p
				class="underline text-lg font-medium dark:text-white text-black hover:dark:text-gray-300 hover:text-gray-700">
				Already registered ? Log in
			</p>
		</NuxtLink>
		<button
			@click="registerNewUser()"
			type="button"
			class="button-style h-fit py-3 px-8">
			Register
		</button>
	</div>
</template>

<script setup>
	import { initPopovers } from "flowbite";

	const { app } = useMyRealmApp();
	const collection = ref(null);
	const loading = ref(true);
	const email = ref(null);
	const password = ref(null);
	const error = ref(false);
	const errorMsg = ref(null);

	onBeforeMount(() => {
		const temp = localStorage.getItem("collection");
		collection.value = JSON.parse(temp);

		if (
			collection.value.formStatus === undefined ||
			collection.value.formStatus !== "submitted"
		)
			navigateTo("/");
		else loading.value = false;
		email.value = collection.value.email;
		loading.value = false;
		initPopovers();
	});

	const validatePassword = (inputString) => {
		if (inputString === null) return;
		const passwordFormat =
			/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{8,100}$/;

		if (inputString.match(passwordFormat)) {
			return true;
		} else {
			return false;
		}
	};

	const registerNewUser = async () => {
		if (validatePassword(password.value) === false) {
			error.value = true;
			errorMsg.value = "Password requirements not met";
			return;
		}

		const Email = email.value;
		const Password = password.value;

		await app.emailPasswordAuth
			.registerUser({ Email, Password })
			.then((data) => {
				localStorage.removeItem("collection");
				navigateTo("/login");
			})
			.catch((err) => {
				console.log(err);
				error.value = true;
				errorMsg.value = err.error;
			});
	};
</script>

<style lang="scss" scoped></style>
