<template>
	<div class="">
		<NuxtPage />
	</div>
</template>

<script setup>
	import "@vuepic/vue-datepicker/dist/main.css";
	const { setDarkMode, unsetDarkMode } = useMyRealmApp();

	const getCookie = (cname) => {
		let name = cname + "=";
		let ca = document.cookie.split(";");

		for (let i = 0; i < ca.length; i++) {
			let c = ca[i];
			while (c.charAt(0) == " ") {
				c = c.substring(1);
			}
			if (c.indexOf(name) == 0) {
				return c.substring(name.length, c.length);
			}
		}
		return "";
	};

	onBeforeMount(() => {
		if (
			localStorage.getItem("color-theme") === "dark" ||
			(!("color-theme" in localStorage) &&
				window.matchMedia("(prefers-color-scheme: dark)").matches)
		) {
			document.documentElement.classList.add("dark");
			setDarkMode();
		} else {
			document.documentElement.classList.remove("dark");
			unsetDarkMode();
		}

		if (getCookie("loginstatus") != "loggedin") {
			localStorage.removeItem("collection");
			document.cookie = "loginstatus=loggedin";
		}
	});
</script>

<style>
	.dp__theme_dark {
		--dp-background-color: #374151;
		--dp-text-color: white;
		--dp-hover-color: #f3f3f3;
		--dp-hover-text-color: black;
		--dp-hover-icon-color: white;
		--dp-primary-color: #1976d2;
		--dp-primary-text-color: white;
		--dp-secondary-color: #c0c4cc;
		--dp-border-color: #374151;
		--dp-menu-border-color: #1f2937;
		--dp-border-color-hover: #030304;
		--dp-disabled-color: #111827;
		--dp-scroll-bar-background: #f3f3f3;
		--dp-scroll-bar-color: #959595;
		--dp-success-color: #76d275;
		--dp-success-color-disabled: #a3d9b1;
		--dp-icon-color: white;
		--dp-danger-color: #ff6f60;
		--dp-highlight-color: rgba(25, 118, 210, 0.1);
	}

	.dp__theme_light {
		--dp-background-color: #e5e7eb;
		--dp-text-color: black;
		--dp-hover-color: #d1d5db;
		--dp-hover-text-color: black;
		--dp-hover-icon-color: black;
		--dp-primary-color: #1976d2;
		--dp-primary-text-color: #f8f5f5;
		--dp-secondary-color: #c0c4cc;
		--dp-border-color: #e5e7eb;
		--dp-menu-border-color: #ddd;
		--dp-border-color-hover: #d1d5db;
		--dp-disabled-color: white;
		--dp-scroll-bar-background: #f3f3f3;
		--dp-scroll-bar-color: #959595;
		--dp-success-color: #76d275;
		--dp-success-color-disabled: #a3d9b1;
		--dp-icon-color: black;
		--dp-danger-color: #ff6f60;
		--dp-highlight-color: rgba(25, 118, 210, 0.1);
	}

	.dp__input_wrap > .dp__input {
		padding-top: 12px;
		padding-bottom: 12px;
	}
</style>
