<template>
	<div v-if="records !== null" class="p-6 flex flex-col gap-4">
		<h1 class="text-styling text-2xl font-semibold">
			{{ records.length }} Records
		</h1>
		<div class="grid grid-box gap-4">
			<RecordCard
				v-for="item in records"
				:key="item._id"
				:record="item"
				:is-admin="true" />
		</div>
	</div>
</template>

<script setup>
	const { currentUser } = useMyRealmApp();
	const records = ref(null);

	onBeforeMount(async () => {
		const mongo = currentUser.mongoClient("mongodb-atlas");
		const collection = mongo.db("db1").collection("records");

		records.value = await collection.find();
		console.log(records.value);
	});
</script>

<style scoped></style>
