<template>
	<div
		class="w-full flex flex-col gap-6 justify-between bg-white border border-gray-200 rounded-xl shadow dark:bg-gray-800 dark:border-gray-700 p-4">
		<div class="flex justify-start gap-4 items-center">
			<div class="flex flex-col">
				<h1
					v-if="record.is_registered_company"
					class="text-lg font-semibold text-gray-900 dark:text-white">
					{{ record.company.company_name }}
				</h1>
				<h1 v-else class="text-lg font-semibold text-gray-900 dark:text-white">
					{{ record.company }}
				</h1>
				<div class="flex gap-2">
					<StatusBadge
						v-if="record.quote_type === 'electric'"
						:type="`default`"
						:header="`Electric`" />
					<StatusBadge
						v-if="record.quote_type === 'gas'"
						:type="`default`"
						:header="`Gas`" />
					<StatusBadge
						v-if="record.quote_status && record.quote_status === 600"
						:type="`pending`"
						:header="`Calculating`" />
					<StatusBadge
						v-else-if="record.quote_status && record.quote_status === 200"
						:type="`success`"
						:header="`Done`" />
					<StatusBadge v-else :type="`error`" :header="`Failed`" />
				</div>
			</div>
		</div>
		<div class="flex flex-col gap-2 overflow-hidden">
			<div class="flex gap-2 justify-between">
				<h1 class="details-heading">Email:</h1>
				<h1 class="details-body text-right">
					{{ record.email }}
				</h1>
			</div>
			<div class="flex gap-2 justify-between">
				<h1 class="details-heading">Phone:</h1>
				<h1 class="details-body text-right">
					{{ record.phone }}
				</h1>
			</div>
			<div
				v-if="record.quote_type === 'electric'"
				class="flex gap-2 justify-between">
				<h1 class="details-heading">Supplier:</h1>
				<h1 class="details-body text-right">{{ record.electric_supplier }}</h1>
			</div>
			<div
				v-else-if="record.quote_type === 'gas'"
				class="flex gap-2 justify-between">
				<h1 class="details-heading">Supplier:</h1>
				<h1 class="details-body text-right">{{ record.gas_supplier }}</h1>
			</div>
			<div
				v-if="record.quote_type === 'electric'"
				class="flex gap-2 justify-between">
				<h1 class="details-heading">Average consumption:</h1>
				<h1 class="details-body text-right">
					{{ record.electric_annual_consumption }} Kwh
				</h1>
			</div>
			<div
				v-else-if="record.quote_type === 'gas'"
				class="flex gap-2 justify-between">
				<h1 class="details-heading">Average consumption:</h1>
				<h1 class="details-body text-right">
					{{ record.gas_annual_consumption }} Kwh
				</h1>
			</div>
			<div class="flex gap-2 justify-between">
				<h1 class="details-heading">Created on:</h1>
				<h1 class="details-body text-right">
					{{ record.created_at.toUTCString() }}
				</h1>
			</div>
		</div>
		<div class="flex gap-2">
			<button
				:data-modal-target="`quote-now-modal-${record._id}`"
				:data-modal-toggle="`quote-now-modal-${record._id}`"
				class="button-style">
				Quote now
			</button>
			<div
				:id="`quote-now-modal-${record._id}`"
				tabindex="-1"
				aria-hidden="true"
				class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
				<div class="relative w-full max-w-2xl max-h-full">
					<!-- Modal content -->
					<div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
						<!-- Modal header -->
						<div
							class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
							<h3 class="text-xl font-semibold text-gray-900 dark:text-white">
								Quote now
							</h3>
							<button
								type="button"
								class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white"
								:data-modal-hide="`quote-now-modal-${record._id}`">
								<svg
									aria-hidden="true"
									class="w-5 h-5"
									fill="currentColor"
									viewBox="0 0 20 20"
									xmlns="http://www.w3.org/2000/svg">
									<path
										fill-rule="evenodd"
										d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
										clip-rule="evenodd"></path>
								</svg>
								<span class="sr-only">Close modal</span>
							</button>
						</div>
						<!-- Modal body -->
						<div class="p-6 space-y-6">
							<p
								class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
								Are you sure, you want to generate qoute again for this record ?
							</p>
						</div>
						<!-- Modal footer -->
						<div
							class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
							<button
								@click="regenerateQuote()"
								:data-modal-hide="`quote-now-modal-${record._id}`"
								type="button"
								class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
								Yes
							</button>
							<button
								:data-modal-hide="`quote-now-modal-${record._id}`"
								type="button"
								class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">
								Decline
							</button>
						</div>
					</div>
				</div>
			</div>
			<button
				@click="setQuoteData()"
				type="button"
				:data-modal-target="`details-modal-${record._id}`"
				:data-modal-toggle="`details-modal-${record._id}`"
				class="button-style flex gap-2 justify-center items-center">
				View details<i class="ri-arrow-right-line"></i>
			</button>
			<div
				:id="`details-modal-${record._id}`"
				tabindex="-1"
				aria-hidden="true"
				class="fixed top-0 left-0 right-0 z-50 hidden max-w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 max-h-full">
				<div class="relative w-full h-full max-w-7xl md:h-auto">
					<!-- Modal content -->
					<div
						class="relative flex flex-col gap-4 p-6 bg-white rounded-lg shadow dark:bg-slate-800">
						<!-- Modal header -->
						<div
							class="flex items-start justify-between border-b rounded-t dark:border-gray-600">
							<h1 class="text-2xl text-styling font-bold">Details</h1>
							<button
								type="button"
								class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white"
								:data-modal-hide="`details-modal-${record._id}`">
								<svg
									aria-hidden="true"
									class="w-5 h-5"
									fill="currentColor"
									viewBox="0 0 20 20"
									xmlns="http://www.w3.org/2000/svg">
									<path
										fill-rule="evenodd"
										d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
										clip-rule="evenodd"></path>
								</svg>
								<span class="sr-only">Close modal</span>
							</button>
						</div>
						<!-- Modal body -->
						<div class="flex flex-col gap-4 text-styling">
							<div class="flex flex-col gap-2">
								<h1 class="text-xl font-semibold">Site address:</h1>
								<div class="w-full grid grid-auto-column gap-4">
									<div v-if="record.site_address.address_line_1">
										<span class="details-heading">Address line 1: </span>
										<p class="details-body">
											{{ record.site_address.address_line_1 }}
										</p>
									</div>
									<div v-if="record.site_address.address_line_2">
										<span class="details-heading">Address line 2: </span>
										<p class="details-body">
											{{ record.site_address.address_line_2 }}
										</p>
									</div>
									<div v-if="record.site_address.locality">
										<span class="details-heading">Locality: </span>
										<p class="details-body">
											{{ record.site_address.locality }}
										</p>
									</div>
									<div v-if="record.site_address.postal_code">
										<span class="details-heading">Postal code: </span>
										<p class="details-body">
											{{ record.site_address.postal_code }}
										</p>
									</div>
									<div v-if="record.site_address.country">
										<span class="details-heading">Country: </span>
										<p class="details-body">
											{{ record.site_address.country }}
										</p>
									</div>
								</div>
							</div>
							<div class="flex gap-4 flex-col md:flex-row items-start">
								<div
									v-if="record.quote_type === 'gas'"
									class="flex gap-2 items-center">
									<h1 class="text-xl font-semibold">MPRN:</h1>
									<!-- <div
										class="w-full font-medium md:text-base text-sm rounded p-3 focus:outline-none input-box-color text-center">
										{{ record.mprn }}
									</div> -->
									<h1>
										{{ record.mprn }}
									</h1>
								</div>
								<div v-if="record.quote_type === 'electric'" class="flex gap-2">
									<h1 class="text-xl font-semibold">MPAN:</h1>
									<div class="flex w-full flex-col gap-2">
										<div class="flex gap-2">
											<div
												class="w-full font-medium md:text-base text-sm rounded p-3 focus:outline-none input-box-color text-center">
												{{ record.mpan.profileType }}
											</div>
											<div
												class="w-full font-medium md:text-base text-sm rounded p-3 focus:outline-none input-box-color text-center">
												{{ record.mpan.meterTimeSwitchCode }}
											</div>
											<div
												class="w-full font-medium md:text-base text-sm rounded p-3 focus:outline-none input-box-color text-center">
												{{ record.mpan.lineLossFactor }}
											</div>
										</div>
										<div class="flex gap-2">
											<div
												class="w-full font-medium md:text-base text-sm rounded p-3 focus:outline-none input-box-color text-center">
												{{ record.mpan.distributorId }}
											</div>
											<div
												class="w-full font-medium md:text-base text-sm rounded p-3 focus:outline-none input-box-color text-center">
												{{ record.mpan.uniqueNumber1 }}
											</div>
											<div
												class="w-full font-medium md:text-base text-sm rounded p-3 focus:outline-none input-box-color text-center">
												{{ record.mpan.uniqueNumber2 }}
											</div>
											<div
												class="w-full font-medium md:text-base text-sm rounded p-3 focus:outline-none input-box-color text-center">
												{{ record.mpan.checkDigit }}
											</div>
										</div>
									</div>
								</div>
								<div class="flex gap-2 items-center">
									<h1 class="text-xl font-semibold">Start date:</h1>
									<h1>{{ startDate }}</h1>
								</div>
							</div>
							<div
								v-if="
									record.quote_status === 200 &&
									quoteDetails !== null &&
									quoteDetails.quote !== null
								"
								class="flex flex-col gap-3">
								<h1 class="text-xl font-semibold">Quote details:</h1>
								<div
									class="relative max-h-96 overflow-auto shadow-md rounded-lg">
									<table
										class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
										<thead
											class="text-xs text-gray-700 bg-gray-200 dark:bg-gray-900 dark:text-gray-300">
											<tr>
												<th
													scope="col"
													class="px-4 py-3 text-base font-semibold text-styling">
													Supplier
												</th>
												<th
													v-for="(column, index) in quoteColumns"
													:key="index"
													scope="col"
													class="px-4 py-3 text-base font-semibold text-styling capitalize">
													<p v-if="column === 'Prices'">Standing charges</p>
													<p v-else-if="column === 'All Units'">Unit rates</p>
													<p v-else>{{ column }}</p>
												</th>
											</tr>
										</thead>
										<tbody>
											<tr
												v-for="item in quoteDetails.quote"
												:key="item._id"
												class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
												<th
													scope="row"
													class="px-4 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
													{{ item.Supplier }}
												</th>
												<td
													v-for="(column, index) in quoteColumns"
													:key="index"
													class="px-4 py-4">
													{{ item[column] }}
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script setup>
	import { initModals } from "flowbite";
	const { record, isAdmin } = defineProps(["record", "isAdmin"]);
	const { currentUser } = useMyRealmApp();
	const quoteDetails = ref(null);
	const quoteColumns = ref(null);
	const startDate = ref(null);

	onMounted(() => {
		initModals();
	});

	const setQuoteData = async () => {
		const mongo = currentUser.mongoClient("mongodb-atlas");
		const collection = mongo.db("db1").collection("quote");

		if (record.start_date !== "asap") {
			let temp = record.start_date.split("-");
			let month = temp[1];
			let date = temp[0];
			let year = temp[2];

			startDate.value = [month, date, year].join("-");
		} else {
			startDate.value = record.start_date;
		}

		quoteDetails.value = await collection.findOne({
			secretKey: record._id.toString(),
		});

		if (
			quoteDetails.value !== null &&
			quoteDetails.value.quote !== null &&
			quoteDetails.value.quote !== undefined
		) {
			quoteColumns.value = new Array();
			for (const property in quoteDetails.value.quote[0]) {
				if (isAdmin === true) {
					if (property !== "Supplier") {
						quoteColumns.value.push(property);
					}
				} else if (isAdmin === false) {
					if (
						property !== "Supplier" &&
						property !== "Comission" &&
						property !== "Comission Type"
					) {
						quoteColumns.value.push(property);
					}
				}
				// console.log(`${property}: ${quoteDetails.value.quote[0][property]}`);
			}
		}

		console.log(quoteDetails.value, quoteColumns.value);
	};

	const regenerateQuote = async () => {
		delete record._id;
		delete record.quote_status;

		console.log(record);

		await currentUser.callFunction("submitForm", record).then((result) => {
			console.log(result);
		});

		window.location.reload();
	};
</script>

<style lang="scss" scoped></style>
