<template>
	<span
		v-if="type === 'default'"
		class="bg-blue-100 text-blue-800 text-sm font-semibold mt-2 px-2.5 py-1 rounded-full dark:bg-blue-900 dark:text-blue-100 w-fit"
		>{{ header }}</span
	>
	<span
		v-else-if="type === 'pending'"
		class="bg-yellow-100 text-yellow-800 text-sm font-semibold mt-2 px-2.5 py-1 rounded-full dark:bg-yellow-900 dark:text-yellow-300 w-fit"
		>{{ header }}</span
	>
	<span
		v-else-if="type === 'error'"
		class="bg-red-100 text-red-800 text-sm font-semibold mt-2 px-2.5 py-1 rounded-full dark:bg-red-900 dark:text-red-300 w-fit"
		>{{ header }}</span
	>
	<span
		v-else-if="type === 'success'"
		class="bg-green-100 text-green-800 text-sm font-semibold mt-2 px-2.5 py-1 rounded-full dark:bg-green-900 dark:text-green-300 w-fit"
		>{{ header }}</span
	>
</template>

<script setup>
	const { type, header } = defineProps(["type", "header"]);
</script>

<style lang="scss" scoped></style>
