@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.dark-gradient {
		@apply dark:bg-gray-900 bg-white;
	}

	.text-styling {
		@apply dark:text-white text-black;
	}

	.box-styling {
		@apply dark:bg-gray-500/10 bg-white/10 shadow dark:shadow-gray-900 shadow-black/10 gap-6 p-4 rounded;
		animation: customFadeIn 300ms;
	}

	.option-box-styling {
		@apply dark:bg-gray-700 hover:dark:bg-blue-600 hover:bg-blue-600 hover:text-white bg-gray-900/10 px-6 py-3 rounded shadow dark:shadow-gray-900 shadow-gray-50;
	}

	.input-box-color {
		@apply bg-gray-200 dark:bg-gray-700 text-black dark:text-white dark:placeholder-gray-400 placeholder-gray-500 focus:bg-gray-300 focus:dark:bg-gray-700/50 disabled:dark:bg-gray-800 disabled:bg-gray-400;
	}

	.button-style {
		@apply font-semibold cursor-pointer text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 rounded text-base px-5 py-2.5 text-center;
	}
	.button-style-disabled {
		@apply font-semibold cursor-not-allowed text-white dark:bg-gray-500 bg-gray-400 rounded text-base px-5 py-2.5 text-center;
	}

	.button-style-gray {
		@apply text-gray-900 bg-gray-200 rounded focus:outline-none hover:bg-gray-300  font-medium text-base px-5 py-2.5 focus:ring-4 focus:ring-gray-100 dark:bg-gray-700 dark:text-white  dark:hover:bg-gray-700/50 dark:focus:ring-gray-800;
	}

	.button-style-red {
		@apply text-red-800 bg-red-300 rounded focus:outline-none hover:bg-red-400  font-medium text-base px-5 py-2.5 focus:ring-4 focus:ring-red-100 dark:bg-red-600 dark:text-white dark:hover:bg-red-700 dark:focus:ring-red-800;
	}
	.button-style-action {
		@apply text-base font-semibold text-white flex justify-center items-center gap-2 dark:bg-blue-600 dark:hover:bg-blue-700 bg-blue-700 hover:bg-blue-800 px-3 py-2 rounded;
	}

	.button-style-action-disabled {
		@apply text-base font-semibold text-white flex justify-center items-center gap-2 px-3 py-2 bg-blue-500 rounded !cursor-not-allowed;
	}

	.energy-consumption-details {
		@apply font-bold text-gray-500 dark:text-gray-200 text-end;
	}

	.details-heading {
		@apply font-semibold text-blue-900 dark:text-blue-400;
	}

	.details-body {
		@apply dark:text-white text-black;
	}

	#__nuxt {
		font-family: "Poppins";
	}

	.grid-auto-column {
		grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
	}

	.grid-auto-column-option-box {
		grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
	}

	.error-style {
		@apply dark:!text-red-400 text-red-500;
	}

	.error-msg-style {
		@apply w-fit dark:!text-red-400 text-red-500 font-medium;
	}

	.container-height {
		min-height: calc(100vh - 3.5rem);
	}

	.grid-box {
		grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
	}

	.fade-in {
		animation: customFadeIn 1s;
	}

	@keyframes customFadeIn {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
}
