<template>
	<div v-if="!loading">
		<NavBar @sign-out="signOut" />
		<!-- <SideBar /> -->
		<div
			class="min-[2000]:ml-56 mt-14 container-height bg-gray-50 dark:bg-gray-900">
			<NuxtPage />
		</div>
	</div>
</template>

<script setup>
	const { app: realmApp } = useMyRealmApp();
	// const router = useRouter();
	const loading = ref(true);

	onBeforeMount(async () => {
		if (realmApp.currentUser === null) navigateTo("/login");
		else if (realmApp.currentUser.providerType === "api-key")
			navigateTo("/login");

		await realmApp.currentUser.callFunction("isAdmin").then((res) => {
			if (res !== true) {
				navigateTo("/user");
			}
		});
		loading.value = false;
	});

	const signOut = () => {
		realmApp.currentUser.logOut();
		// localStorage.removeItem("isAdmin");
		navigateTo("/login");
	};
</script>
