<template>
	<div>
		<section class="bg-gray-50 dark:bg-gray-900 flex justify-center h-screen">
			<div class="flex flex-col gap-6 px-6 py-8 mx-auto items-center">
				<h1
					class="md:text-3xl sm:text-2xl text-xl font-extrabold leading-tight tracking-wide text-gray-900 dark:text-white text-center">
					Welcome back to, {{ APP_NAME }} !
				</h1>
				<div
					class="flex justify-center items-center h-full w-full sm:max-w-md xl:p-0">
					<div
						class="bg-white dark:bg-gray-800 dark:border dark:border-gray-700 rounded-lg shadow p-4 sm:p-6 w-full flex flex-col gap-8">
						<h1
							class="text-xl font-semibold leading-tight tracking-wide text-gray-900 md:text-2xl dark:text-white text-center">
							Login to continue
						</h1>
						<div class="flex flex-col gap-4">
							<div>
								<label
									for="email"
									class="block mb-2 font-medium text-gray-900 dark:text-white"
									>Your email</label
								>
								<input
									@change="errorMsg = null"
									type="email"
									name="email"
									id="email"
									class="input-box-color p-3 w-full rounded-lg"
									placeholder="name@company.com"
									required="" />
							</div>
							<div>
								<label
									for="password"
									class="block mb-2 font-medium text-gray-900 dark:text-white"
									>Password</label
								>
								<input
									@change="errorMsg = null"
									type="password"
									name="password"
									id="password"
									placeholder="••••••••"
									class="input-box-color p-3 w-full rounded-lg"
									required="" />
							</div>
							<p v-if="errorMsg" class="text-red-400">{{ errorMsg }}</p>
							<button
								@click="loginEmailPassword"
								type="submit"
								class="w-full button-style text-lg rounded-lg p-2.5 mt-2">
								Sign in
							</button>
							<div
								class="flex items-center before:flex-1 before:border-t before:border-gray-300 before:mt-0.5 after:flex-1 after:border-t after:border-gray-300 after:mt-0.5">
								<p
									class="text-center font-semibold mx-4 mb-0 dark:text-white text-black">
									OR
								</p>
							</div>
							<button
								@click="googleLogin"
								type="submit"
								class="flex w-full items-center justify-center gap-4 text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm p-2.5 text-center">
								<div class="bg-white md:p-2 p-1 rounded-full shadow">
									<img src="~/public/google.png" alt="Google Logo" width="10" />
								</div>
								<p class="text-lg font-semibold mr-2">Sign in with Google</p>
							</button>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</template>

<script setup>
	const { app: realmApp, Realm } = useMyRealmApp();
	const { APP_NAME } = useRuntimeConfig().public;
	const errorMsg = ref(null);

	const googleLogin = async () => {
		const redirectURI = `${window.location.protocol}//${window.location.host}/callback`;

		const credentials = Realm.Credentials.google({
			redirectUrl: redirectURI,
		});

		realmApp
			.logIn(credentials)
			.then((user) => {
				console.log(user);
				user.callFunction("isAdmin").then((res) => {
					if (res === true) {
						localStorage.setItem("isAdmin", true);
						navigateTo("/admin");
					} else {
						navigateTo("/user");
					}
				});
			})
			.catch((err) => console.error(err));
	};

	const loginEmailPassword = async () => {
		if (email.value === null || password.value === null) {
			return;
		}
		const credentials = Realm.Credentials.emailPassword(
			email.value,
			password.value
		);

		await realmApp
			.logIn(credentials)
			.then((user) => {
				console.log(user);
				user.callFunction("isAdmin").then((res) => {
					if (res === true) {
						localStorage.setItem("isAdmin", true);
						navigateTo("/admin");
					} else {
						navigateTo("/user");
					}
				});
			})
			.catch((err) => {
				errorMsg.value = "* Invalid username/password";
				console.log(err);
			});
	};
</script>

<style scoped></style>
